<h1 class="contactcount">There are <span class="contactnumber"><%= Contact.all.count %></span> contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
<div class="contact">
  <li class="contact_info"> <a href=/contacts/<%= contact.id %>> <%= contact.first_name %> <%= contact.last_name %> (<%= contact.email%>)</a></li>
  <p><a href="/edit">Edit</a> | <a href="/contacts/delete">Delete</a></p>
</div>
<% end %>
</ul>
